@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: honey;
  src: url(../HoneyFlorist.ttf); }

@font-face {
  font-family: museo;
  src: url(../Museo300.ttf); }

@font-face {
  font-family: care;
  src: url(../Carattere-Regular.ttf); }

@keyframes ani1° {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.03); }
  30% {
    ransform: scale(1.05); }
  40% {
    ransform: scale(1); }
  50% {
    transform: scale(1.1);
    color: #6d6d6d; }
  60% {
    ransform: scale(1); }
  70% {
    ransform: scale(1.05); }
  80% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }

.bas-rosa {
  color: #fbbdbc; }

.bas-gris {
  color: #6d6d6d; }

.bas-celeste {
  color: #76d1d0; }

#D-empresa, section div#formu {
  display: flex;
  justify-content: center; }

section, .main__galeria, main.main_ser .tarjetas {
  background-image: url("../imagenes/LOGO.png");
  background-size: 80px; }

body {
  position: relative; }

p {
  font-family: museo; }

h6 {
  font-family: honey;
  font-size: 35px;
  text-shadow: #fbbdbc 5px 2px; }

/*---------ENCABEZADO GRAL-------------*/
.encabezado {
  width: 100%;
  height: 42rem;
  overflow: hidden;
  background-image: url("../imagenes/fondo.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .encabezado nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  .encabezado nav #MHI {
    color: #76d1d0; }
  .encabezado nav #CL {
    color: black;
    width: max-content;
    margin-right: 25px; }
  .encabezado nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 5px;
    background-image: url("../imagenes/r3.png");
    padding: 15px 30px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }

a.navbar-brand img {
  filter: saturate(80); }

#D-empresa {
  transition: ease-in-out 0.5s;
  height: 200px;
  width: 100%;
  margin-top: 10%; }
  #D-empresa h1 {
    width: 350px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 25px 30px;
    font-size: 60px;
    font-family: honey; }
  #D-empresa span {
    font-family: care; }
  #D-empresa h1:hover {
    transform: scale(1.2);
    transition: ease-out 0.7s;
    color: #faf8f8;
    text-shadow: black 5px 2px; }

a#CL {
  font-family: museo; }

.maxc {
  height: max-content;
  height: 50rem; }

/*---------PRINCIPAL INDEX-------------*/
main.mainindex div.videosbg {
  width: 100%;
  height: 23rem;
  overflow: hidden;
  position: relative; }
  main.mainindex div.videosbg video {
    width: 95%;
    min-width: 450px;
    max-width: 1050px;
    position: absolute;
    left: 10%;
    opacity: 80%; }

section {
  width: 99.8%;
  height: max-content; }
  section div#formu {
    margin: 2px;
    border-radius: 15px;
    justify-content: space-evenly; }
    section div#formu form#FC {
      background-image: linear-gradient(white, white, #76d1d0, #76d1d0);
      border: solid 0.5px;
      border-radius: 10px;
      box-shadow: rgba(80, 77, 77, 0.473) 10px 5px;
      min-width: 260px;
      max-width: 20rem;
      height: max-content; }
    section div#formu form#FC:hover {
      transform: scale(1.05);
      box-shadow: rgba(80, 77, 77, 0.301) 12px 7px;
      transition: ease-in-out 0.7s; }
    section div#formu div#etiqueta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      min-width: 280px; }
      section div#formu div#etiqueta h5 {
        margin-left: 40px;
        top: 15vh;
        margin: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        background-image: url("../imagenes/tr.png");
        padding: 13px 17px;
        font-size: 27px;
        font-family: honey;
        transition: ease-in 0.5s;
        animation-name: ani1°;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
      section div#formu div#etiqueta p {
        top: 30vh;
        width: 35vw;
        transition: ease-in 0.5s;
        text-align: center; }

.cwhite {
  color: #9c9a9a; }

/*------PIE DE PAGINA-------*/
footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(white, #fbbdbc, #fbbdbc);
  text-align: center;
  border-radius: 15px; }
  footer .redes {
    position: fixed;
    bottom: 70px;
    right: 5px;
    color: #a1458d; }
    footer .redes .f {
      margin-right: 0px;
      padding: 20px 5px;
      background-position: center;
      background-size: 60px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicof.webp"); }
      footer .redes .f img {
        margin: 15px; }
    footer .redes .f:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(18%) sepia(30%) saturate(3448%) hue-rotate(217deg) brightness(85%) contrast(99%); }
      footer .redes .f:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
    footer .redes .w {
      margin-right: 0px;
      padding: 20px 5px;
      background-position: center;
      background-size: 60px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicw.webp"); }
      footer .redes .w img {
        margin: 15px; }
    footer .redes .w:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(43%) sepia(14%) saturate(1351%) hue-rotate(71deg) brightness(109%) contrast(103%); }
      footer .redes .w:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
    footer .redes .ins {
      margin-right: 0px;
      padding: 20px 5px;
      background-position: center;
      background-size: 60px;
      background-repeat: no-repeat;
      background-image: url("../imagenes/fonicoi.webp"); }
      footer .redes .ins img {
        margin: 15px; }
    footer .redes .ins:hover {
      background-size: 0px;
      transition: ease-out 0.7s;
      filter: invert(38%) sepia(13%) saturate(3731%) hue-rotate(266deg) brightness(85%) contrast(81%); }
      footer .redes .ins:hover img:hover {
        width: 45px;
        transition: ease-out 0.3s;
        margin: 7px; }
  footer .div__foot p {
    font-size: 12px; }

.sec_cont {
  background-image: none; }

/*-----NOSOTROS--------*/
header.enc_nts {
  height: 35rem;
  width: 100vw;
  background-image: url("../imagenes/colage.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 3rem;
  background-size: contain;
  background-attachment: fixed; }
  header.enc_nts nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  header.enc_nts nav #MHI {
    color: #76d1d0; }
  header.enc_nts nav #CL {
    color: black;
    width: max-content;
    margin-right: 25px; }
  header.enc_nts nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 5px;
    background-image: url("../imagenes/r3.png");
    padding: 15px 30px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }

main.main_nts section.sec_nts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(white, white, #f1aaaa);
  height: max-content;
  width: 100%; }
  main.main_nts section.sec_nts img {
    border-radius: 15px; }
  main.main_nts section.sec_nts h5 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 30px 35px;
    font-size: 80px;
    font-family: honey;
    transition: ease-in 0.5s;
    animation-name: ani1°;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  main.main_nts section.sec_nts p {
    height: 350px;
    width: 25vw;
    min-width: 200px;
    transition: ease-in 0.5s;
    font-family: museo;
    text-align: center; }

/*-------GALERIA--------*/
header.enc_galeria {
  background-image: linear-gradient(#76d1d0, white); }
  header.enc_galeria nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  header.enc_galeria nav #MHI {
    color: #76d1d0; }
  header.enc_galeria nav #CL {
    color: black;
    width: max-content;
    margin-right: 25px; }
  header.enc_galeria nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 5px;
    background-image: url("../imagenes/r3.png");
    padding: 15px 30px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }

.main__galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  gap: 25px;
  grid-auto-flow: dense; }
  .main__galeria .galeria_item {
    position: relative;
    border-radius: 5px; }
    .main__galeria .galeria_item .G1_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      filter: grayscale(75%); }
    .main__galeria .galeria_item .G1_img:hover {
      transform: scale(1.05);
      transition: ease-out 0.5s;
      filter: grayscale(0%); }
    .main__galeria .galeria_item h4 {
      display: none;
      position: absolute;
      bottom: 0;
      color: aqua; }

.A2 {
  grid-column-start: span 2; }

.L2 {
  grid-row-start: span 2; }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: ease-in-out 0.3s; }
  .light-box img {
    width: 70vw;
    border-radius: 5%; }
  .light-box .close {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    width: 30px;
    height: 30px; }
  .light-box .next {
    background-color: #6e2121;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    width: 30px;
    height: 35px;
    margin: 10px; }
    .light-box .next span {
      font-size: 30px;
      color: white; }

.light-box:target {
  transform: scale(1); }

/*-------servicios--------*/
header.enc_Ser {
  background-image: linear-gradient(#76d1d0, white); }
  header.enc_Ser nav #MH {
    color: #76d1d0;
    font-size: 15px; }
  header.enc_Ser nav #MHI {
    color: #76d1d0; }
  header.enc_Ser nav #CL {
    color: black;
    width: max-content;
    margin-right: 25px; }
  header.enc_Ser nav #CL:hover {
    background-size: 0px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 5px;
    background-image: url("../imagenes/r3.png");
    padding: 15px 30px;
    font-size: 15px;
    font-family: honey;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease-out 0.5s;
    text-shadow: black 3px 2px;
    transform: scale(1.2);
    color: white;
    background-size: contain; }

main.main_ser .tarjetas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  padding: 20px 5vw;
  gap: 10px; }
  main.main_ser .tarjetas .tarj {
    max-width: 290px;
    height: 350px;
    justify-content: center;
    background-color: #faf8f8;
    border: solid black 1px;
    border-radius: 3px;
    box-shadow: rgba(128, 128, 128, 0.4) 8px 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    position: relative; }
    main.main_ser .tarjetas .tarj .tarj-img {
      max-width: 250px;
      border-radius: 3px;
      opacity: 0.9; }
    main.main_ser .tarjetas .tarj .tarj-bt {
      padding: 20px 5px;
      background-color: #fbbdbc;
      border-radius: 50%;
      text-decoration: none;
      color: black;
      transition: all 0.3s;
      position: absolute;
      bottom: -15px;
      right: -24px;
      filter: grayscale(40%); }
    main.main_ser .tarjetas .tarj .tarj-bt:hover {
      transform: scale(1.2);
      transition: ease-out 0.3s;
      filter: grayscale(0%); }

#carouselExampleCaptions {
  z-index: 0;
  top: 0;
  width: 75%;
  margin-left: 12.5vw; }

.enc_Ser {
  position: relative; }

.ancho {
  width: 100%; }

/*-----contacto-------------*/
div#et__cont {
  width: 400px;
  height: 400px;
  position: relative; }
  div#et__cont div {
    width: max-content;
    height: max-content; }
  div#et__cont .D1 {
    border-radius: 3px;
    position: absolute;
    left: 45%;
    top: 0%;
    box-shadow: #76d1d0 -10px 10px 5px; }
  div#et__cont .D2 {
    position: absolute;
    left: 5%;
    bottom: -18%;
    box-shadow: #fbbdbc -10px 10px 5px; }
  div#et__cont .D3 p {
    background-color: white;
    border-radius: 50%;
    color: #427574;
    border: solid #fbbdbc 5px;
    width: 160px;
    height: 160px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    font-size: 14px; }

img.et__img {
  width: 220px;
  border-radius: 3px; }

.tarj-title {
  font-family: honey;
  font-size: 40px;
  text-shadow: #fbbdbc 5px 3px; }

/*--------------------------------*/
@media screen and (min-width: 480px) and (max-width: 678px) {
  div#formu {
    flex-direction: column; }
  header.enc_nts {
    background-size: 660px; }
  .main__galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px; }
  .R1 {
    grid-column-start: span 2; }
  .R2 {
    grid-row-start: span 2; }
  .maxc {
    height: 65rem; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .main__galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    justify-content: center; }
  .maxc {
    height: 65rem; }
  .light-box img {
    width: 90vw; }
  div#formu {
    flex-direction: column;
    align-items: center; }
  img.et__img {
    width: 170px;
    border-radius: 3px; }
  .sec_img {
    width: 80vw; }
  #D-empresa h1 {
    width: 270px;
    height: 76px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("../imagenes/tr.png");
    padding: 19px 23px;
    font-size: 46px;
    font-family: honey; }
  form.m-3 {
    margin: 0; }
  div#etiqueta {
    margin: 0px; }
    div#etiqueta h5 {
      margin-left: 0px;
      top: 15vh;
      margin: 0;
      font-size: 5px; }
    div#etiqueta p {
      margin-left: 0;
      font-size: small; }
  video {
    top: 20%;
    left: -25%; }
  .A2 {
    grid-column-start: span 1; }
  .L2 {
    grid-row-start: span 1; }
  .tarj {
    width: 80%; }
    .tarj .tarj-img {
      width: 90%; }
    .tarj .tarj-text {
      font-size: 14px; }
    .tarj .tarj-bt {
      transform: scale(0.8); } }
